<% layout('../templates/principal') -%>
<div class="container">
  <h4>Configuración</h4>
  <div class="col-xs-12 col-sm-6">
    <a href="/config/servicios">Servicios</a>
  </div>
  <div class="col-xs-12 col-sm-6">
    <a href="/config/ediciones">Ediciones</a>
  </div>
</div>
