/*all setting*/
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$color-p: #ccc;
$color-back: #f1f0ec;
$color-s: #2c3e50;
$color-s-2: #95a5a6;
$color-t: #0096d2;
$color-t-2: #006892;

// $def-color-1: #929292;
$def-color-1: #899192;
$def-color-1-2: #e2e2e2;
$def-color-1-4: #f4f4f4;
$def-color-2: #333333;
$def-color-3: #009688;
$def-color-4: #5D4037;
$def-color-5: #F4511E;
$def-color-1: #3E2723;
/*negro verde: logo and links*/
$color-1: #26A69A;
/*negro text en general*/
$color-2: #333333;



$h_nav: 49px;
/*Reset*/
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/*General reseters*/
.ctm{
  @at-root #{&}--margin-top-bot-0{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @at-root #{&}--margin-left-right-0{
    margin-left: 0px;
    margin-right: 0px;
  }
  @at-root #{&}--padding-0{
    padding: 0px;
  }
  @at-root #{&}--margin-padding-0{
    margin: 0px;
    padding: 0px;
  }
}

/*General*/
html, body{
  height: 100%;
  min-width: 360px;
}
body{
  background: $def-color-1-4;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-primary;
}
a{
  color: $def-color-1;
}
p, a, ul{
  font-family: $font-secondary;
}
// .datatable{
.dataTables_wrapper{
  background-color: #fff;
  padding: 15px;
}
.dataTables_filter{
  height: 80px;
  label{
    padding: 10px;
    input{
      display: block;
    }
  }
}
#basic-table{
  width: 100%;
  tr{
    th{
      padding: 0 5px;
      color:$def-color-2;
    }
    td{
      color:$def-color-4;
      border-top: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
      padding: 10px 5px;
    }
    &:nth-child(even){
      // background: ;
    }
  }
  strong{
    font-weight: 600;
  }
  span{
    font-size: 14px;
    color: $def-color-5;
    font-weight: 500;
  }
}
/*header*/
nav{
  background:#f1f1f1;
  text-align: center;;
  // height: $h_nav;
  display: flex;
  width: 300px;
  margin:0 auto;
  box-shadow: 0px 15px 80px -13px rgba(204, 204, 204, 0.2);
  h1{
    // background: $def-color-3;
    // background: $color-s;
    font-size: 35px;
    padding: 20px 0;
    color: $def-color-3;
    // border-bottom:2px solid $def-color-3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 50%;
  }
  ul{
    width: 50%;
    display: none;
    list-style: none;
    // border-bottom:2px solid $def-color-1;
    margin: 0;
  }
}
/*sidebar*/

.menu-principal{
  list-style: none;
  padding: 0px;
  margin:0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  li{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:10px 0;
    border-right: transparent 2px solid;
    transition: border-color 0.2s linear, fill 0.2s linear;
    border-color: $def-color-1-2;
    svg{
      max-height: 60px;
      height:80%;
      max-width: 60px;
      width:80%;
      // fill:$color-s;
      fill:$def-color-1;
    }
  }
  @at-root #{&} a:hover {
    border-color: $def-color-3;
    &> svg{
      fill:$def-color-3;
    }
  }
}
/*Main*/
main{
  padding-left: 60px;
  padding-top: 15px;
  .main{
    @at-root #{&}__current_aulas{
      list-style: none;
      padding: 0px;
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      /*mod*/
      img{
        max-width: 45px;
        padding-right: 5px;
      }
      /*mod*/
      li{
        padding: 0px;
        margin: 15px;
        a{
          border-radius: 12px;
          box-shadow: 0 2px 5px rgba(0,0,0,.26);
          text-align: center;
          display: block;
          color: #fff;
          padding: 10px;
          opacity: .8;
          @at-root #{&}:hover{
            text-decoration: none;
            opacity: 1;
          }
        }
        @at-root #{&}:nth-child(1) a{
          background-color: #95a5a6;
        }
        @at-root #{&}:nth-child(2) a{
          background-color: #2980b9;
        }
        @at-root #{&}:nth-child(3) a{
          background-color: #2ecc71;
        }
        @at-root #{&}:nth-child(4) a{
          background-color: #e67e22;
        }
        @at-root #{&}:nth-child(5) a{
          background-color: #2c3e50;
        }
      }
    }
    @at-root #{&}__recent_users{
      list-style: none;
      img{
        max-width: 45px;
      }

    }
  }
}
/*footer*/
footer{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -$h_nav;
}
/*------------- media queries ------------- */
@media only screen and (max-width : 768px) {
  main{
    padding-left: 0px;
  }
  nav{
    margin-bottom: 10px;
  }
  .menu-principal{
    flex-direction: row;
    flex-grow: 2;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    li{
      padding: 0;
      a{
        border-right: none;
        border-bottom: $def-color-1-2 2px solid;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/*================== page-user ==================*/
.page-new{

  &--servicios,
  &--ediciones,
  &--aula,
  &--log,
  &--users{

    h4{
      margin: 0 0 30px 0;
    }
    form{
      // width: 100%;
      // text-align: center;
    }
    label{
      font-weight: bold;
      // text-align: left;
    }
    input, select, textarea{
      border-radius: 5px;
      border:solid 1px $color-p;
      padding: 10px 15px;
      margin: 10px 0;
    }
    button{
      border-radius: 20px;
      border:solid 1px $color-p;
      padding: 10px 15px;
      background: #fff;
      width: 60%;
      margin-top: 50px;
    }
  }
}
.settings{
  text-align: center;
  &--panel{}
  &--empresa{
    a{
      justify-content: center;
      background-color: #fff;
      border: solid 1px $color-p;
      padding: 10px;
      margin: 0;
      display: flex;
      @at-root #{&}:first-child{
        border-bottom: none;
      }
      @at-root #{&}:last-child{
        border-top: none;
      }
      @at-root #{&}:hover{
        text-decoration: none;
        color: #000;
        opacity: 0.7;
      }
    }
  }
}


/*================== page-aula ==================*/
.aula{
  padding: 10px 25px;
  @at-root #{&}-sync{
    @at-root #{&}--external{
      margin-top: 20px;
      color:$color-1;
      background: #fff;
      border-left: 1px solid $color-1;
    }
    @at-root #{&}--local{
      border-right: 1px solid $color-2;
      margin-top: 20px;
      color:$color-2;
      background: #fff;
    }
  }
  ul{
    list-style: none;
    padding: 0px;
  }
  .aulas--icon svg{
    width: 40px;
    height: 50px;
  }
}
