/*all setting*/
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$color-p: #ccc;
$color-back: #f1f0ec;
$color-s: #2c3e50;
$color-s-2: #95a5a6;
$color-t: #0096d2;
$color-t-2: #006892;
$h_nav: 50px;
/*Reset*/
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/*General reseters*/
.ctm{
  @at-root #{&}--margin-top-bot-0{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @at-root #{&}--margin-left-right-0{
    margin-left: 0px;
    margin-right: 0px;
  }
  @at-root #{&}--padding-0{
    padding: 0px;
  }
  @at-root #{&}--margin-padding-0{
    margin: 0px;
    padding: 0px;
  }
}

/*General*/
html, body{
  height: 100%;
}
body{
  background: $color-back;

}
h1,h2,h3,h4,h5,h6{
  font-family: $font-primary;
}

p, a, ul{
  font-family: $font-secondary;
}

/*header*/
nav{
  background:#FFF;
  height: $h_nav;
  display: flex;
  h1{
    background: $color-s;
    font-size: 25px;
    padding: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul{
    list-style: none;
  }
}
/*sidebar*/
aside{
  // background: $color-t;
}
ul.menu-principal{
  list-style: none;
  padding: 0px;
  margin:0px;
  li{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    a{
      // background-image: url("../img/icons.jpg");
      // background-repeat: no-repeat;
      height: 80px;
      width: 80px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @at-root #{&}:hover{
        background: rgba(1,1,1,.5);
      }
      img{
        width: 90%;
      }
    }
  }
  @at-root #{&}--ico1{
    // background-position:-55px -1620px;
  }
  @at-root #{&}--ico2{
    // background-position:-300px -1620px;
  }
  @at-root #{&}--ico3{
    // background-position:-555px -1625px;
  }
}
/*Main*/
main{
  .main{
    @at-root #{&}__current_aulas{
      list-style: none;
      padding: 0px;
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      /*mod*/
      img{
        max-width: 45px;
        padding-right: 5px;
      }
      /*mod*/
      li{
        padding: 0px;
        margin: 15px;
        a{
          border-radius: 12px;
          box-shadow: 0 2px 5px rgba(0,0,0,.26);
          text-align: center;
          display: block;
          color: #fff;
          padding: 10px;
          opacity: .8;
          @at-root #{&}:hover{
            text-decoration: none;
            opacity: 1;
          }
        }
        @at-root #{&}:nth-child(1) a{
          background-color: #95a5a6;
        }
        @at-root #{&}:nth-child(2) a{
          background-color: #2980b9;
        }
        @at-root #{&}:nth-child(3) a{
          background-color: #2ecc71;
        }
        @at-root #{&}:nth-child(4) a{
          background-color: #e67e22;
        }
        @at-root #{&}:nth-child(5) a{
          background-color: #2c3e50;
        }
      }
    }
    @at-root #{&}__recent_users{
      list-style: none;
      img{
        max-width: 45px;
      }

    }
  }
}
/*footer*/
footer{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -$h_nav;
}
