<script src="/js/jquery.js" charset="utf-8"></script>
<script src="/js/linear-icons-svg.js" charset="utf-8"></script>
<script src="/js/custom.js" charset="utf-8"></script>
<footer>
  <p>Copyright Oficial ©</p>
</footer>
