<nav class="navbar" id="navbar">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/log">I+D</a></li>
            <li><a href="/alumnos">Alumnos</a></li>
            <li><a href="/profesores">Profesores</a></li>
            <li><a href="/aulas">Aulas</a></li>
            <li><a href="/videoconferencias">Videoconferencias</a></li>
        </ul>
    </div>
</nav>