<nav>
  <h1 class="col-xs-3 col-sm-4 col-md-3 col-lg-2 ctm--margin-top-bot-0"><span class="lnr lnr-users"></span><span class="hidden-xs-down">&nbsp;Panel G</span></h1>
  <ul class="col-xs-9 col-sm-4 col-md-3" >
    <li>Felipe Tascón</li>
    <li>test@test.com</li>
  </ul>
</nav>
