<nav>
    <div class="container">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/log">I+D</a></li>
            <li><a href="/alumnos">Alumnos</a></li>
            <li><a href="/profesores">Profesores</a></li>
            <li><a href="/aulas">Aulas</a></li>
            <li><a href="/videoconferencias">Videoconferencias</a></li>
        </ul>
    </div>
</nav>
