<aside class="col-xs-12 col-md-3 col-lg-2">
  <div class="row">
    <ul class="menu-principal h-100 w-100">
      <li class="col-2 col-md-12 "><a class="menu-principal--ico1 " href="/home"><svg class="lnr lnr-home"><use xlink:href="#lnr-home"></use></svg></a></li>
      <li class="col-2 col-md-12 "><a class="menu-principal--ico1 " href="/calendar"><svg class="lnr lnr-calendar-full"><use xlink:href="#lnr-calendar-full"></use></svg></a></li>
      <li class="col-2 col-md-12 "><a class="menu-principal--ico2 " href="/users"><svg class="lnr lnr-users"><use xlink:href="#lnr-users"></use></svg></a></li>
      <li class="col-2 col-md-12 "><a class="menu-principal--ico3 " href="/aulas"><svg class="lnr lnr-layers"><use xlink:href="#lnr-layers"></use></svg></span></a></li>
      <li class="col-2 col-md-12 "><a class="menu-principal--ico4 " href="/log"><svg class="lnr lnr-code"><use xlink:href="#lnr-code"></use></svg></span></a></li>
      <li class="col-2 col-md-12 "><a class="menu-principal--ico4 " href="/docs"><svg class="lnr lnr-database"><use xlink:href="#lnr-database"></use></svg></span></a></li>
    </ul>
  </div>
</aside>
