<% layout('../templates/principal') -%>
<div class="container page-new--log">
  <div class="col-xs-12">
    <h2>Crear un registro de actividad</h2>
  </div>
  <div class="col-xs-12">
    <form action="/log" method="post">
      <div class="form-group row">
        <label class="col-sm-4" for="name">Titulo</label>
        <input class="col-sm-6" autofocus type="text" name="title" placeholder="Titulo (unico)" value="">
        <label class="col-sm-4" for="name">Descripción</label>
        <textarea class="col-sm-6" name="description"  style="width:100%;min-height: 100px;"></textarea>
      </div>
      <div class="col-sm-6 push-sm-5">
        <button type="submit" name="registrer">Guardar</button>
      </div>
    </form>
  </div>
</div>
