<% layout('templates/principal') -%>

<ul class="main__current_aulas">
  <li class=""><a href="#"><img src="img/test.png" class="" alt=""/>Aula_example</a></li>
  <li class=""><a href="#"><img src="img/test.png" class="" alt=""/>Aula_example</a></li>
  <li class=""><a href="#"><img src="img/test.png" class="" alt=""/>Aula_example</a></li>
  <li class=""><a href="#"><img src="img/test.png" class="" alt=""/>Aula_example</a></li>
  <li class=""><a href="#"><img src="img/test.png" class="" alt=""/>Aula_example</a></li>
</ul>
<h2>calendar</h2>
<h2>Usuario Recientes</h2>
<ul class="main__recent_users">
  <li><a href="#"><img src="img/user.png" class="" alt=""/>User_example</a></li>
  <li><a href="#"><img src="img/user.png" class="" alt=""/>User_example</a></li>
  <li><a href="#"><img src="img/user.png" class="" alt=""/>User_example</a></li>
</ul>
