<% layout('templates/principal') -%>
<div class="container-fluid">
<h5>Usuario Recientes</h5>
<ul class="main__recent_users row">
  <% users.forEach(function(reg){ %>
    <li><a class="col-3" href="/users/profile/<%= reg._id %>"><svg class="lnr lnr-user"><use xlink:href="#lnr-user"></use></svg><%= reg.name %></a></li>
    <% }) %>
  </ul>
<h5>Aulas Recientes</h5>
<ul class="main__current_aulas">
  <% data.forEach(function(reg){ %>
    <li class=""><a href="/aulas/<%= reg._id %>"><%= reg.modules.name %></a></li>
    <% }) %>
  </ul>
</div>
  <!-- <h2>calendar</h2> -->
