<!DOCTYPE html>
<html lang="en">
    <% include includes/head.ejs %>
    <body>
        <% include includes/header.ejs %>
        <main>
            <div class="container">
                <h2 style="margin: 15px">Crear un registro de actividad</h2>
                <form method="POST" style="margin:100px 0" action='/log/<%= log._id %>' enctype='application/x-www-form-urlencoded' >
                    <input value="PUT" type="hidden" name="_method"/>
                    <div class="row">
                        <div class="col-xs-8">
                            <label>
                                Titulo:    
                            </label><br/>
                            <input style="width: 100%" value="<%= log.title %>" type="text" name="title"/>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-lg-8">
                            <label>Descripción</label><br>
                            <textarea name="description"  style="width:100%;min-height: 100px;"><%= log.description %></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="col-xs-12 col-lg-8">
                            <input type="submit" class="btn btn-success btn-lg" value="guardar"/>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <% include includes/footer.ejs %>
    </body>
</html>
