html{
	background: #ededed;
}
table{
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
}
table th{
    padding: 10px;
}
table th:nth-child(2){
    width: 50%;
}
table td{
    border: solid 1px #ccc;
}