/*all setting*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

/*General reseters*/
.ctm--margin-top-bot-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.ctm--margin-left-right-0 {
  margin-left: 0px;
  margin-right: 0px; }

.ctm--padding-0 {
  padding: 0px; }

.ctm--margin-padding-0 {
  margin: 0px;
  padding: 0px; }

/*General*/
html, body {
  height: 100%;
  min-width: 360px; }

body {
  background: #f1f0ec; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

p, a, ul {
  font-family: "Roboto", sans-serif; }

/*header*/
nav {
  background: 49px;
  height: 49px;
  display: flex; }
  nav h1 {
    background: #2c3e50;
    font-size: 25px;
    padding: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  nav ul {
    list-style: none; }

/*sidebar*/
.menu-principal {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column; }
  .menu-principal li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
  .menu-principal a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    border-right: transparent 3px solid;
    transition: border-color 0.2s linear, fill 0.2s linear; }
    .menu-principal a svg {
      max-height: 80px;
      height: 80%;
      max-width: 80px;
      width: 80%;
      fill: #2c3e50; }
  .menu-principal a:hover {
    border-color: cadetblue; }
    .menu-principal a:hover > svg {
      fill: cadetblue; }

/*Main*/
main .main__current_aulas {
  list-style: none;
  padding: 0px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  /*mod*/
  /*mod*/ }
  main .main__current_aulas img {
    max-width: 45px;
    padding-right: 5px; }
  main .main__current_aulas li {
    padding: 0px;
    margin: 15px; }
    main .main__current_aulas li a {
      border-radius: 12px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      text-align: center;
      display: block;
      color: #fff;
      padding: 10px;
      opacity: .8; }
      main .main__current_aulas li a:hover {
        text-decoration: none;
        opacity: 1; }
    main .main__current_aulas li:nth-child(1) a {
      background-color: #95a5a6; }
    main .main__current_aulas li:nth-child(2) a {
      background-color: #2980b9; }
    main .main__current_aulas li:nth-child(3) a {
      background-color: #2ecc71; }
    main .main__current_aulas li:nth-child(4) a {
      background-color: #e67e22; }
    main .main__current_aulas li:nth-child(5) a {
      background-color: #2c3e50; }

main .main__recent_users {
  list-style: none; }
  main .main__recent_users img {
    max-width: 45px; }

/*footer*/
footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -49px; }

/*------------- media queries ------------- */
@media only screen and (max-width: 768px) {
  .menu-principal {
    flex-direction: row;
    flex-grow: 2;
    flex-basis: auto;
    justify-content: center;
    align-items: center; }
    .menu-principal li {
      padding: 0; }
      .menu-principal li a {
        border-right: none;
        border-bottom: transparent 3px solid; } }

/* Medium Devices, Desktops */
