/*all setting*/
/*negro verde: logo and links*/
/*negro text en general*/
/*gris text en general*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

/*General reseters*/
.ctm--margin-top-bot-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.ctm--margin-left-right-0 {
  margin-left: 0px;
  margin-right: 0px; }

.ctm--padding-0 {
  padding: 0px; }

.ctm--margin-padding-0 {
  margin: 0px;
  padding: 0px; }

/*General*/
html, body {
  height: 100%;
  min-width: 360px; }

body {
  background: #f4f4f4; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

a {
  color: #3E2723; }

p, a, ul {
  font-family: "Roboto", sans-serif; }

.dataTables_wrapper {
  background-color: #fff;
  padding: 15px; }

.dataTables_filter {
  height: 80px; }
  .dataTables_filter label {
    padding: 10px; }
    .dataTables_filter label input {
      display: block; }

#basic-table {
  width: 100%; }
  #basic-table .ctm-delete-btn button {
    background: #FFF;
    color: #496363;
    font-weight: bold; }
  #basic-table tr th {
    padding: 0 5px;
    color: #333333; }
  #basic-table tr td {
    color: #5D4037;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 5px; }
  #basic-table strong {
    font-weight: 600; }
  #basic-table span {
    font-size: 14px;
    color: #F4511E;
    font-weight: 500; }

/*header*/
header {
  position: fixed;
  background: #f4f4f4;
  z-index: 2; }

nav {
  background: #f4f4f4;
  text-align: center;
  display: flex;
  width: 300px;
  margin: 0 auto; }
  nav h1 {
    font-size: 35px;
    padding: 20px 0;
    color: #009688;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
  nav ul {
    width: 50%;
    display: none;
    list-style: none;
    margin: 0; }

/*sidebar*/
aside {
  position: fixed !important;
  top: 78px;
  background: #f4f4f4;
  z-index: 20; }

.menu-principal {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column; }
  .menu-principal li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
  .menu-principal a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-right: transparent 2px solid;
    transition: border-color 0.2s linear, fill 0.2s linear;
    border-color: #e2e2e2; }
    .menu-principal a svg {
      max-height: 60px;
      height: 80%;
      max-width: 60px;
      width: 80%;
      fill: #3E2723; }
  .menu-principal a:hover {
    border-color: #009688; }
    .menu-principal a:hover > svg {
      fill: #009688; }

/*Main*/
main {
  padding-left: 60px;
  padding-top: 15px;
  margin-left: 225px;
  margin-top: 78px; }
  main .main__current_aulas {
    list-style: none;
    padding: 0px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    /*mod*/ }
    main .main__current_aulas li {
      padding: 0px;
      margin: 7px; }
      main .main__current_aulas li a {
        border-radius: 12px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        text-align: center;
        display: block;
        color: #fff;
        padding: 10px;
        opacity: .8; }
        main .main__current_aulas li a:hover {
          text-decoration: none;
          opacity: 1; }
      main .main__current_aulas li:nth-child(1) a {
        background-color: #95a5a6; }
      main .main__current_aulas li:nth-child(2) a {
        background-color: #2980b9; }
      main .main__current_aulas li:nth-child(3) a {
        background-color: #2ecc71; }
      main .main__current_aulas li:nth-child(4) a {
        background-color: #e67e22; }
      main .main__current_aulas li:nth-child(5) a {
        background-color: #2c3e50; }
  main .main__recent_users {
    list-style: none; }
    main .main__recent_users a {
      line-height: 32px; }
    main .main__recent_users svg {
      max-width: 20px;
      max-height: 15px; }

/*footer*/
footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -49px; }

/*------------- media queries ------------- */
@media only screen and (max-width: 768px) {
  main {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 160px; }
  nav {
    margin-bottom: 10px; }
  .menu-principal {
    flex-direction: row;
    flex-grow: 2;
    flex-basis: auto;
    justify-content: center;
    align-items: center; }
    .menu-principal li {
      padding: 0; }
      .menu-principal li a {
        border-right: none;
        border-bottom: #e2e2e2 2px solid; } }

/* Medium Devices, Desktops */
/*================== page-user ==================*/
.page-new--servicios h4, .page-new--ediciones h4, .page-new--aula h4, .page-new--log h4, .page-new--users h4 {
  margin: 0 0 30px 0; }

.page-new--servicios label, .page-new--ediciones label, .page-new--aula label, .page-new--log label, .page-new--users label {
  font-weight: bold; }

.page-new--servicios input, .page-new--servicios select, .page-new--servicios textarea, .page-new--ediciones input, .page-new--ediciones select, .page-new--ediciones textarea, .page-new--aula input, .page-new--aula select, .page-new--aula textarea, .page-new--log input, .page-new--log select, .page-new--log textarea, .page-new--users input, .page-new--users select, .page-new--users textarea {
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 10px 15px;
  margin: 10px 0; }

.page-new--servicios button, .page-new--ediciones button, .page-new--aula button, .page-new--log button, .page-new--users button {
  border-radius: 20px;
  border: solid 1px #ccc;
  padding: 10px 15px;
  background: #fff;
  width: 60%;
  margin-top: 50px; }

.settings {
  text-align: center; }
  .settings--empresa a {
    justify-content: center;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 10px;
    margin: 0;
    display: flex; }
    .settings--empresa a:first-child {
      border-bottom: none; }
    .settings--empresa a:last-child {
      border-top: none; }
    .settings--empresa a:hover {
      text-decoration: none;
      color: #000;
      opacity: 0.7; }

/*================== page-aula ==================*/
h4.page-main--addnew {
  line-height: 50px; }
  h4.page-main--addnew a svg {
    width: 25px;
    height: 25px;
    margin-bottom: -4px;
    fill: #1e64f4; }
    h4.page-main--addnew a svg:hover {
      fill: #333333; }

.aula {
  padding: 10px 25px; }
  .aula h4 {
    margin-bottom: 25px; }
    .aula h4 span {
      display: block;
      font-size: 16px;
      color: #496363;
      padding: 10px; }
  .aula-sync--external {
    margin-top: 20px;
    color: #26A69A;
    background: #fff;
    border-left: 1px solid #26A69A; }
  .aula-sync--local {
    border-right: 1px solid #333333;
    margin-top: 20px;
    color: #333333;
    background: #fff; }
  .aula ul {
    list-style: none;
    padding: 0px; }
  .aula .aulas--icon svg {
    width: 40px;
    height: 50px; }
