<!DOCTYPE html>
<html>
<% include ../includes/head.ejs %>
<body>
  <div class="container-fluid h-100 ctm--padding-0">
    <div class="row ctm--margin-left-right-0">
      <header class="w-100">
        <% include ../includes/header.ejs %>
      </header>
      <% include ../includes/sidebar.ejs %>
      <main class="col-sm-12 col-md-9 col-lg-10 push-md-3 push-lg-2">
        <div class="container-fluid">
          <%- body %>
        </div>
      </main>
      <% include ../includes/footer.ejs %>
    </div>
  </div>
</body>
</html>
