<% layout('../templates/principal') -%>
<div class="">
  <h4>Resultados <%= data %></h4>
  <div>
    <table id="basic-table">
      <thead>
        <tr>
          <th> Alumno </th>
          <th> Comentario </th>
          <th> Nota </th>
        </tr>
      </thead>
      <tbody>
        <% data_a.alumnes.forEach(function(reg){ %>
          <tr>
            <td>
              <strong>  <a href="/aulas/notas/results/<%= reg.aula %>/<%= reg._id %>"><%= reg.name %></a></strong><br>
            </td>
            <td>
              <input type="number" name="" value="0" placeholder="nota">
            </td>
            <td>
              <textarea name="comment"></textarea>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

  </div>
