<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Panel G</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/master.css">
</head>
<body>
  <div class="container-fluid h-100 ctm--padding-0">
    <div class="row h-100 ctm--margin-left-right-0">
      <div class="w-100">
        <nav>
          <h1 class="col-sm-2 ctm--margin-top-bot-0">Panel G</h1>
          <ul>
            <li>Felipe Tascón</li>
            <li>test@test.com</li>
          </ul>
        </nav>
      </div>
      <aside class="col-sm-2 ctm--margin-padding-0">
        <ul class="menu-principal h-100">
          <li><a class="menu-principal--ico1" href="#"><img src="img/calendar_icon.png" alt=""></a></li>
          <li><a class="menu-principal--ico2" href="#"><img src="img/teacher_icon.png" alt=""></a></li>
          <li><a class="menu-principal--ico3" href="#"><img src="img/class_icon.png" alt=""></a></li>
        </ul>
      </aside>
      <main class="col-sm-10">
        <h2>Todas las aulas</h2>
        
      </main>
      <footer>
        <p>Copyright Oficial ©</p>
      </footer>
    </div>
  </div>
</body>
</html>
