<% layout('../templates/principal') -%>
<div class="container page-users--new">
  <div class="col-xs-12 push-md-2">
    <h4>Editar Servicio</h4>
  </div>
  <div class="col-xs-12">
    <form method="POST" action='/config/servicios/<%= data._id %>' enctype='application/x-www-form-urlencoded' >
      <input value="PUT" type="hidden" name="_method"/>
      <div class="form-group row">
        <label class="col-sm-4" for="name">Nombre</label>
        <input class="col-sm-6" autofocus type="text" name="name" placeholder="Name" value="<%= data.name %>">
        <label class="col-sm-4" for="name">Precio</label>
        <input class="col-sm-6" type="number" min="0" step="any" name="price" placeholder="Precio" value="<%= (data.price) %>">
        <label class="col-sm-4" for="name">Prefijo VC</label>
        <input class="col-sm-6" type="text" name="prefix" placeholder="name_module_vc" value="<%= (data.prefix) %>">
        <label class="col-sm-4" for="name">Tipo</label>
        <select class="col-sm-6 custom-select" name="type">
          <option value="Curso" selected>Curso</option>
          <option value="Master">Master</option>
          <option value="Postgrado">Postgrado</option>
        </select>
      </div>
      <div class="col-sm-6 push-sm-5">
        <button type="submit" name="guardar">Guardar</button>
      </div>
    </form>
  </div>
</div>
