<% layout('../templates/principal') -%>
<div class="container page-new--settings">
  <h4>Propuesta</h4>
  <hr>
  <div class="row settings">
    <div class="col-sm-12 settings--empresa">
      <!-- <h5>Sobre la empresa</h5> -->
      <div class="row">
        <div class="col-12 text-left">
          <p>Desde Luego si te encuentras esto, diras "qué Co#$!"<br>
            Pues sí, Lo que propongo es que hagamos el Panel de Gestión juntos.<br>
            La idea es usar la estructura creada y terminar de orientar la Plataforma.<br>
            <strong>
              Aqui una lista de mejoras que se podrían llegar a conseguir:
            </strong>
          </p>
          <ul>
            <li>Hacer una <strong>versión del panel para cada rol</strong> (Estudiante, Profesor, Coordinador).</li>
            <li>Hacer un <strong>apartado de Caledarios</strong>, donde puedas crear diferentes propuestas de calendario, y a su vez en el apartado de configuraciones, dar la opcion a escoger qué calendario mostrar en la pagina principal</li>
            <li><strong>Integrar las notas de moodle</strong> dentro de las aulas virtuales del Panel </li>
            <li>Hacer un <strong>planificador de tareas</strong> que se puedan asignar a personas o equipos dentro de la misma empresa.</li>
            <li>Hacer una sección dentro de los Servicios de Master y Postgrado para <strong>hacer una version de los diplomas descargable</strong>, en base a las notas del alumno</li>
            <li>Hacer imprimibles y generar <strong>informes de notas</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>

</div>
